@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500,600&display=swap);

@charset "UTF-8";

@font-face {
  font-family: CalSans;
  font-display: swap;
  src: url("../fonts/CalSans-SemiBold.woff2") format("woff2"), url("../fonts/CalSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #666666;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-family: CalSans;
  color: #121212;
  font-size: 2.75rem;
  line-height: 1.2045454545;
  font-weight: 600;
  text-align: center;
}

.title span {
  color: #ff6428;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8.1875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 9.5rem;
}

.menu {
  padding: 0.625rem 0.9375rem 0.625rem 0;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 3.5rem;
     -moz-column-gap: 3.5rem;
          column-gap: 3.5rem;
  row-gap: 0.625rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__link {
  color: rgba(18, 18, 18, 0.4);
  font-weight: 600;
}

.footer {
  background-color: #eeeeee;
  padding: 5rem 0 2.5rem 0;
}

.footer__copy {
  text-align: center;
  padding: 4.375rem 0px 0px 0px;
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.body-footer__column_full {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.body-footer__logo {
  display: inline-block;
}

.body-footer__logo:not(:last-child) {
  margin-bottom: 1.75rem;
}

.contacts-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts-footer__link {
  display: inline-block;
  line-height: 1.5rem;
  padding-left: 2.75rem;
  color: #666;
}

.contacts-footer__link_mail {
  background: url("../img/footer/sms.svg") left no-repeat;
}

.contacts-footer__link_location {
  background: url("../img/footer/location.svg") left no-repeat;
}

.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 7.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-footer__title {
  text-transform: uppercase;
  color: #121212;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 1.25rem;
  position: relative;
}

.menu-footer__item:not(:last-child) {
  margin-bottom: 1rem;
}

.social-footer__title {
  text-transform: uppercase;
  color: #121212;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.social-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}

.main {
  padding-bottom: 5rem;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  -ms-flex-item-align: end;
      align-self: flex-end;
  padding-top: 7.5rem;
  padding-bottom: 3.75rem;
  padding-right: 1.25rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main__title {
  font-family: CalSans;
  color: #121212;
  font-size: 3.5rem;
  line-height: 1.1964285714;
}

.main__title:not(:last-child) {
  margin-bottom: 1rem;
}

.main__title span {
  color: #ff6428;
}

.main__text {
  line-height: 1.5;
  font-weight: 500;
  max-width: 26.25rem;
}

.main__text:not(:last-child) {
  margin-bottom: 1.9375rem;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__decor {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.main__image {
  position: relative;
  margin-right: -8.4375rem;
  padding-bottom: 97.5%;
  max-width: 42rem;
}

.main__image:after {
  content: "";
  position: absolute;
  background: url("../img/main/decor.svg") 0 0 no-repeat;
  width: 5rem;
  height: 5rem;
  right: 36.3%;
  bottom: 0;
  -webkit-transform: translate(0px, 50%);
      -ms-transform: translate(0px, 50%);
          transform: translate(0px, 50%);
}

.main__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0 0 160px 375px;
}

.actions-main__button {
  padding: 1.15625rem 3rem;
  background-color: #ff6428;
  border-radius: 40px;
  color: #fff;
  line-height: 1.75;
  font-weight: 600;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.actions-main__button:not(:last-child) {
  margin-right: 2.5rem;
}

.actions-main__icon:not(:last-child) {
  margin-right: 1.6875rem;
}

.store {
  padding-top: 5rem;
  padding-bottom: 5.625rem;
}

.store__title {
  margin-bottom: 5.375rem;
}

.body-store__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}

.body-store__title {
  letter-spacing: 0.08em;
  font-size: 1.25rem;
  line-height: 1.5;
  text-transform: uppercase;
  color: #121212;
  font-weight: 600;
}

.body-store__all {
  color: #868686;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 500;
}

.body-store__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 3.375rem;
}

.body-store__item {
  display: -ms-grid;
  display: grid;
}

.item__image {
  text-align: center;
}

.item__image:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item__image img {
  max-width: 100%;
}

.item__title {
  color: #121212;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  -ms-grid-column-align: start;
      justify-self: start;
}

.item__title:not(:last-child) {
  margin-bottom: 0.4375rem;
}

.item__price {
  font-size: 0.875rem;
  line-height: 1.5;
}

.categories {
  padding-top: 5.625rem;
  padding-bottom: 6.875rem;
}

.categories__title {
  margin-bottom: 5rem;
}

.categories__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -webkit-column-gap: 4.375rem;
     -moz-column-gap: 4.375rem;
          column-gap: 4.375rem;
  row-gap: 2.1875rem;
}

.item-category {
  position: relative;
}

.item-category__title {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.875rem 1.25rem;
  color: #fff;
  z-index: 3;
  font-size: 1.25rem;
  line-height: 1.5;
  font-weight: 600;
}

.item-category__image {
  position: relative;
  overflow: hidden;
  border-radius: 25px;
  padding-bottom: 127%;
}

.item-category__image:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.65)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
}

.item-category__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.brands {
  padding-top: 5.625rem;
  padding-bottom: 6.875rem;
}

.brands__title {
  margin-bottom: 4.6875rem;
}

.brands__items {
  max-width: 63.75rem;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[4];
  grid-template-columns: repeat(4, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 5rem;
}

.brands__item img {
  max-width: 100%;
}

.why {
  background-color: #121212;
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
}

.why__title {
  margin-bottom: 2.1875rem;
  color: #fff;
}

.why__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
  grid-template-columns: repeat(3, auto);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.item-why {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 2.5rem;
  text-align: center;
}

.item-why__icon {
  background: #262626;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 72px;
  height: 72px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item-why__icon:not(:last-child) {
  margin-bottom: 2.5rem;
}

.item-why__title {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 600;
  letter-spacing: 0.08em;
}

.item-why__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.item-why__text {
  font-size: 0.875rem;
  line-height: 1.5;
}

.reviews {
  padding-top: 15rem;
  padding-bottom: 15rem;
}

.reviews__title {
  margin-bottom: 4.6875rem;
}

.reviews__slider {
  margin-left: -15px;
}

.slide-reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide-reviews__picture {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.slide-reviews__image {
  width: 320px;
  height: 320px;
  position: relative;
}

.slide-reviews__image:before {
  content: "";
  position: absolute;
  width: 285px;
  height: 257px;
  top: 50px;
  left: -50px;
  -webkit-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
  background-color: #ff6428;
  border-radius: 40px 0 400px 400px;
}

.slide-reviews__image img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slide-reviews__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.slide-reviews__text {
  font-size: 1.5rem;
  line-height: 160%;
}

.slide-reviews__text:not(:last-child) {
  margin-bottom: 3.5rem;
}

.slide-reviews__name {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 160%;
  color: #000;
}

.slide-reviews__name:not(:last-child) {
  margin-bottom: 0.5rem;
}

.slide-reviews__position {
  color: #868686;
  font-size: 1.125rem;
  letter-spacing: 0.08em;
  font-weight: 500;
  text-transform: uppercase;
}

.swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-pagination-bullet {
  background: #c4c4c4;
  border-radius: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  height: 1rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.swiper-pagination-bullet-active {
  background: #ff6428;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
  height: 0.875rem;
}

.favorite {
  padding-bottom: 7.5rem;
}

.favorite__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.favorite__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-right: 1.25rem;
}

.favorite__title {
  text-align: left;
  font-size: 3rem;
  line-height: 140%;
}

.favorite__title:not(:last-child) {
  margin-bottom: 3.75rem;
}

.favorite__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.favorite__images img {
  max-width: 100%;
}

.apps-favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5625rem;
}

.apps-favorite__item img {
  max-width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 1092px) {
  .header__container {
    gap: 3.125rem;
    min-height: 100px;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 60%;
            flex: 0 0 60%;
    padding-bottom: 0rem;
  }

  .main__decor {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .main__image img {
    width: 100%;
  }
}

@media (max-width: 76.875em) {
  .categories__items {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .brands {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .why {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .reviews {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

@media (max-width: 61.99875em) {
  .menu-footer {
    gap: 1.25rem;
  }

  .main {
    padding-bottom: 3.125rem;
  }

  .store {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .store__title {
    margin-bottom: 3.125rem;
  }

  .body-store__items {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .brands {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .brands__title {
    margin-bottom: 3.125rem;
  }

  .why {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .reviews {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .reviews__title {
    margin-bottom: 3.125rem;
  }

  .favorite {
    padding-bottom: 5.625rem;
  }

  .favorite__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .favorite__title {
    font-size: 1.875rem;
  }
}

@media (max-width: 47.99875em) {
  .title {
    font-size: 2.375rem;
  }

  .header__container {
    min-height: 65px;
  }

  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .footer {
    padding: 2.5rem 0 2.5rem 0;
  }

  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }

  .menu-footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-right: 4.375rem;
  }

  .menu-footer__title:before {
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    top: 0;
    right: 50px;
    background-color: #000;
    -webkit-transform: rotate(-45deg) translateY(50%);
        -ms-transform: rotate(-45deg) translateY(50%);
            transform: rotate(-45deg) translateY(50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-footer__title:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 50%;
    top: 0;
    right: 32px;
    background-color: #000;
    -webkit-transform: rotate(45deg) translateY(50%);
        -ms-transform: rotate(45deg) translateY(50%);
            transform: rotate(45deg) translateY(50%);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .menu-footer__title._spoller-active:after {
    -webkit-transform: rotate(-45deg) translateY(50%);
        -ms-transform: rotate(-45deg) translateY(50%);
            transform: rotate(-45deg) translateY(50%);
    right: 40px;
  }

  .menu-footer__title._spoller-active:before {
    -webkit-transform: rotate(45deg) translateY(50%);
        -ms-transform: rotate(45deg) translateY(50%);
            transform: rotate(45deg) translateY(50%);
    right: 40px;
  }

  .main {
    padding-bottom: 1.875rem;
  }

  .main__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding-right: 0rem;
    padding-top: 5rem;
  }

  .main__title {
    font-size: 2.75rem;
  }

  .main__decor {
    display: none;
  }

  .store {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .store__title {
    margin-bottom: 1.875rem;
  }

  .body-store__items {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }

  .categories {
    padding-top: 3.125rem;
    padding-bottom: 3.125rem;
  }

  .categories__title {
    margin-bottom: 3.125rem;
  }

  .categories__items {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .brands__title {
    margin-bottom: 1.875rem;
  }

  .brands__items {
    -ms-grid-columns: (auto)[3];
    grid-template-columns: repeat(3, auto);
    row-gap: 3.125rem;
  }

  .why__items {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    gap: 1.25rem;
  }

  .item-why {
    padding: 1.875rem;
  }

  .reviews__title {
    margin-bottom: 1.875rem;
  }

  .reviews__slider {
    margin-left: 0px;
  }

  .slide-reviews {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slide-reviews__picture:not(:last-child) {
    margin-bottom: 20px;
  }

  .slide-reviews__text {
    font-size: 1.125rem;
  }

  .slide-reviews__text:not(:last-child) {
    margin-bottom: 2.5rem;
  }

  .swiper-pagination {
    margin-top: 1.25rem;
  }

  .favorite {
    padding-bottom: 3.125rem;
  }
}

@media (max-width: 29.99875em) {
  .header__container {
    gap: 1.25rem;
  }

  .header__logo {
    width: 28px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28px;
            flex: 0 0 28px;
    overflow: hidden;
  }

  .header__menu {
    padding: 0;
  }

  .menu__list {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .footer {
    padding: 1.875rem 0 1.875rem 0;
  }

  .actions-main {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .actions-main__button {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .actions-main__button:not(:last-child) {
    margin-right: 0rem;
    margin-bottom: 0.9375rem;
  }

  .categories {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
  }

  .categories__title {
    margin-bottom: 1.25rem;
  }

  .categories__items {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .brands {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .brands__title {
    margin-bottom: 1.25rem;
  }

  .brands__items {
    -ms-grid-columns: (auto)[2];
    grid-template-columns: repeat(2, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.25rem;
  }

  .why {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .why__items {
    -ms-grid-columns: (auto)[1];
    grid-template-columns: repeat(1, auto);
    gap: 0.625rem;
  }

  .item-why {
    padding: 1.25rem;
  }

  .reviews {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  .reviews__title {
    margin-bottom: 1.25rem;
  }

  .favorite {
    padding-bottom: 1.25rem;
  }
}

@media (any-hover: hover) {
  .menu__link:hover {
    text-decoration: underline;
  }

  .menu-footer__item:hover {
    text-decoration: underline;
  }

  .actions-main__button:hover {
    background-color: rgba(184, 75, 32, 0.8901960784);
  }

  .item__title:hover {
    text-decoration: underline;
  }

  .item-category:hover .item-category__image img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}